body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 400px;
	background-color: #cccccc;
    background-image: radial-gradient(rgb(73 84 39), rgb(180 157 132));
}

#fejlec {
	width: 100%;
}

#felirat {
	top: 0;
    right: 9vh;
    font-size: 3vw;
    position: absolute;
    text-align: right;
    color:black;
	text-shadow: 5px 5px 10px rgb(255, 200, 47);
    width: 100%;
	font-variant: small-caps;
}

#főcím {
	text-shadow: 5px 5px 10px rgb(255, 200, 47);
}

h3 {
	color: black;
	text-shadow: 5px 5px 10px rgb(255, 200, 47);
	font-variant: small-caps;
	font-size: 2.5em;
}

.hobbi {
	background-color: rgb(255, 242, 207);
	border: 2px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lablec {
	background-color: rgb(255,242,207);
}

.lablec a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.lablec a:hover {
	text-transform: uppercase;
}

.navbar {
	font-variant: small-caps;
	font-size: 1.2em;
	margin-left: 0;
}

p {
	text-align: justify;
}

#eleseg {
	list-style-image: url(../img/rovar.png);
	margin-left: 25px;
}